@model IEnumerable<CinemaTicketer.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cinema ticketer</h1>
</div>


<h1>Now Screening</h1>
@await Html.PartialAsync("_MoviesDeck", Model)

<h1>Coming Soon</h1>
@await Html.PartialAsync("_MoviesDeck", (IEnumerable<CinemaTicketer.Models.Movie>)ViewBag.ComingSoon)


<div class="jumbotron jumbotron-fluid text-center">
    <h2>Cinema ticketer</h2>
    <p>Used technologies:</p>
    <ul style="list-style-type: none; list-style: none; padding-left: 0">
        <li>ASP.NET MVC core</li>
        <li>EntityFramework core</li>
        <li>SQL Server 2017</li>
        <li>Bootstrap 4</li>
    </ul>

    <p>Simple educational project.</p>
    <p>
        <a href="https://github.com/michaail/cinema-ticketer">Visit github</a><br>
        <a href="https://www.linkedin.com/in/micha%C5%82-k%C5%82os-97456114a/">Linkedin</a>
    </p>

</div>
